*{
    padding: 0;
    margin:0;
}

#main{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    
}
a{
    color : white;
    text-decoration: none;
    margin-right: 200px;
}
#logo{
    font-size: 25px;
    color: orange;
}

#button{
    background-color: #f08804;
    color: white;
}